{% extends '_base.html' %}

{% block title %}Cash{% endblock %}

{% block htmx %}
    <!-- HTMX -->
    <!-- https://unpkg.com/browse/htmx.org@1.8.6/dist/ -->
    <script src="{{ server }}/js/htmx.js"></script>
    <!-- HTMX websockets -->
    <!-- https://unpkg.com/browse/htmx.org@1.8.6/dist/ext/ -->
    <script src="{{ server }}/js/ws.js"></script>
{% endblock %}

{% block content %}
    <h1>CashPage</h1>
    <p>{{ user }}</p>
    <div hx-ext="ws" ws-connect="/ws/cash/">
        <form hx-trigger="click" ws-send>
            <input type="hidden" name="cash" value="CAASH">
            <button>Click Me!</button>
        </form>
    </div>
{% endblock  %}
