<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}401 Unauthorized{% endblock %}</title>
        <!-- css -->
        <link rel="stylesheet" href="{{ static }}/css/base.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    </head>
    <body>
        <div class="container">
            <h1>{{ error }}</h1>
            <p>Code - {{ status_code }}</p>

            <p><a href="{{ server }}/" class="brand">
                <span>Home</span>
            </a></p>
            <p><a href="{{ server }}/auth/" class="brand">
                <span>Log In</span>
            </a></p>
        <div>
    </body>
</html>
