<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Project Alpha{% endblock %}</title>
        <!-- css -->
        <link rel="stylesheet" href="{{ static }}/css/base.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
        {% block htmx %}
        {% endblock %}
    </head>
    <body>
        <!-- navbar -->
        <nav class="demo">
            <a href="{{ server }}/" class="brand">
                <span>Project Alpha</span>
            </a>
            <div class="menu">
                {% if user %}
                    {{ user }}
                    <a href="{{ server }}/auth/" class="pseudo button icon-picture">
                        Log Out
                    </a>
                {% else %}
                    <a href="{{ server }}/auth/signup" class="pseudo button icon-picture">
                        Sign Up
                    </a>
                    <a href="{{ server }}/auth/" class="pseudo button icon-picture">
                        Log In
                    </a>
                {% endif %}
            </div>
        </nav>
        <!-- main page -->
        <div id='main_page' class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
