# local
flake8
mypy
types-redis
pre-commit
python-dotenv

# fastapi
fastapi
uvicorn
email-validator
bcrypt
# jwt
PyJWT
# websockets
websockets
# csrf
starlette-csrf

# tests
pytest
coverage
httpx
trio
pytest-asyncio

# templates
Jinja2
python-multipart

# postgres
psycopg2-binary
SQLAlchemy
# redis
redis
# migrations
alembic
